
.btn{
   background-color: crimson !important;
   /* border: 1px dotted rgb(137, 223, 0); */
   color: white !important;
 }

.w-100{
   /* border:1px solid lime; */
   color: rgb(0, 0, 0);
   text-align: center;
   font-weight: bold;
   padding-top: 20px;
   /* border-radius: 40px; */
   /* border: 1px solid lightgrey; */
}
/* .indexGameScreen{

} */