.footerContainer {
   width: 100%;
   padding: 0 40px;
   color: white;
   background:linear-gradient(rgb(1, 98, 209)  , #003791, rgb(0, 119, 255))
}
.nav-link.p-0.text{
   font-size: 15px;
   color: rgb(209, 209, 209);
}