@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');



.navbar{
   font-family: 'Monoton', cursive;
   background-color: rgb(255, 255, 255);
   color: rgb(58, 58, 58);
   width: 100%;
   /* box-shadow:0 2px 50px rgb(255, 255, 255); */
   font-weight: bold;
   position: fixed;
   z-index: 9;
}
.navbar-brand{
   font-size: 30px;
   font-weight: 10;
   color: rgb(0, 68, 255);
   letter-spacing: 4px;
   transition: 0.6s;
}
.navbar-brand:hover{
   color: crimson;
   transform: skewX(-180deg);
   /* letter-spacing: 50px; */
}
.container-fluid{
   display: flex;
   justify-content: space-between;
}
.collapse.navbar-collapse{
   display: flex;
   width: max-content;
   font-family:Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   align-items: center;
   justify-content:flex-end;
}
.nav-link{
   color: black;
}