.container-main{
   width: 100%;
   height:100vh;
   background-color: black;
   position: relative; 
}


/* inputShortner CSS */

.inputContainer {
   height: 60vh;
   display: flex;
   font-size: 40px;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
}
.inputContainer input{
   width: 100%;
   font-size: 40px;
   padding: 20px 100px ;
   border-radius: 40px;
   border:0.3px solid rgb(238, 238, 238);
}
input[type=text]:focus {
   color: red;
   outline:1px solid #2997FF;
 }
.inputContainer button{
   padding: 10px 32px;
   margin: auto;
   font-size: 25px;
   background-color: black;
   color: white;
   margin-top: 54px;
   cursor: pointer;
   border-radius: 40px;
   border:0.3px solid rgb(238, 238, 238);
}
.inputContainer button:hover{
   color: rgb(255, 255, 255);
   background-color:#2997FF;
}


/* LinkResult CSS */
.result{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 5px 10px;
   width: max-content;
   margin: auto;
   /* background-color: red; */
}
.result p{
   margin-right: 40px;
   border-radius: 40px;
   padding: 5px 15px;
   border: 0.02px solid rgb(139, 139, 139);
   /* background-color: red; */
}
.result button{
   margin-right: 40px;
   border-radius: 40px;
   padding: 10px 15px;
   color:white;
   border: none;
   cursor: pointer;
   background-color: red;
}
.result button.copied{
   background: blue;
   color: white;
}
.nodata{
   background-color: wheat;
   font-size: 1rem;
}

.left{
   width: 100%;
   height: 100vh;
   justify-content: center;
}
video{
   width: 100%;
   height:100vh;
   object-fit: cover;
   z-index: -1;
}
.overlay{
   position:absolute;
   width: 100%;
   height:100vh;
   background-color: rgb(0, 0, 0,.6);
}
.content{
   position: absolute;
   color:rgb(255, 255, 255);
   width: 100%;
   height:100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction:column;
   top:0;
   text-align: justify;
}
.content h1{
   font-size: 50px;
   letter-spacing: 4px;
   margin:0;
   padding:10px 0;
}