.navbar-brand-image {
   width: 5%;
   /* background-color: red; */
}

.navbar-brand-image img {
   width: 70%;
}

.navbar {
   width: 100%;
   color: black;
   /* height: 60px; */
   z-index: 100;
   background-color: rgb(46, 37, 37);
}

.container-fluid {
   padding-top: 30px ;
   padding-bottom: 10px;
   margin-top: 20px;
   position: fixed;
   background-color:rgb(245, 245, 245);
   z-index: 99;
}
